{% extends 'base.html' %}
{% load static %}
{% block cta %}
<section class="home" id="book">
  <div class="image">
      <img src="{% static "images/Online Doctor-rafiki.svg" %}" alt="">
  </div>
  <div class="content">
      <h3>Your Health at your Fingertips</h3>
      <p>Explore accessible, personalized care and expert medical solutions, prioritizing your well-being and fostering a healthier, happier lifestyle with us.</p>
      <a href="{% url 'appointment' %}" class="btn">Book Now <span class="fas fa-chevron-right"></span> </a>
  </div>
</section>
{% endblock cta %}

{% block content %}
<section class="icons-container">
  <div class="icons">
      <i class="fas fa-user-md"></i>
      <h3>3+</h3>
      <p>Nurses at Work</p>
  </div>
  <div class="icons">
      <i class="fas fa-users"></i>
      <h3>200+</h3>
      <p>Satisfied Patients</p>
  </div>
  <div class="icons">
      <i class="fas fa-procedures"></i>
      <h3>5+</h3>
      <p>Bed Facility</p>
  </div>
  <div class="icons">
      <i class="fas fa-hospital"></i>
      <h3>5+</h3>
      <p>Medical Degrees</p>
  </div>
</section>
<section class="services" id="services">
  <h1 class="heading"> our <span>services</span></h1>
  <div class="box-container">
      <div class="box">
          <i class="fas fa-notes-medical"></i>
          <h3>Free checkups</h3>
          <p>Complimentary routine checkups for proactive health monitoring and early detection of potential concerns.</p>

      </div>
      <div class="box">
          <i class="fas fa-ambulance"></i>
          <h3>24/7 ambulance</h3>
          <p>Immediate, round-the-clock emergency transportation ensuring swift and reliable access to medical care.</p>
      </div>
      <div class="box">
          <i class="fas fa-user-md"></i>
          <h3>Expert service</h3>
          <p>Specialized care provided by experienced professionals, ensuring tailored and skilled treatment for every patient.</p>
      </div>
      <div class="box">
          <i class="fas fa-pills"></i>
          <h3>Medicines</h3>
          <p>Access to a wide range of prescribed medications, ensuring timely and effective treatment for various health conditions.</p>
      </div>
      <div class="box">
          <i class="fas fa-procedures"></i>
          <h3>Bed Facility</h3>
          <p>Comfortable, well-equipped facilities to support rest and recovery, maintaining patient comfort during their stay.</p>
      </div>
      <div class="box">
          <i class="fas fa-heartbeat"></i>
          <h3>Total Care</h3>
          <p>Comprehensive attention, encompassing all aspects of patient well-being and healthcare needs for holistic support.</p>
      </div>
  </div>
</section>
<section class="about" id="about">
  <h1 class="heading"> <span>about</span> us </h1>
  <div class="row">
      <div class="image">
          <img src="{% static 'images/Medical care-rafiki.svg' %}" alt="">
      </div>
      <div class="content">
          <h3>Feed A Cold, Starve A Fever.</h3>
          <p>Experience top-tier healthcare services on our dedicated doctor's website, where your well-being is our central focus. Navigate through an array of medical resources, ranging from expert advice on various health concerns to easy appointment scheduling. Our user-friendly interface enables swift booking of appointments and seamless access to professional guidance and health information. Delve into a wealth of knowledge aimed at providing reliable and insightful medical insights to support your health journey.</p>
          <p>Our platform stands as a digital gateway to quality healthcare, offering extensive information on diverse health topics and enabling hassle-free interactions with our esteemed medical professionals. Embrace a space committed to your health and equipped with modern tools, allowing you to explore, learn, and access the best medical care with ease and convenience.</p>
      </div>
  </div>
</section>

<section class="review" id="review">
  <h1 class="heading"> client's <span>reviews</span></h1>
  <div class="box-container">
      <div class="box">
          <img src="{% static 'images/person1.png' %}" alt="">
          <h3>Aditya Patil</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            Doctor is an exceptional professional. Their expertise, care, and attentive approach made my visit worthwhile. Highly recommended for quality healthcare and service.
          </p>
      </div>
      <div class="box">
          <img src="{% static 'images/person2.png' %}" alt="">
          <h3>Amrit Auji</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <p class="text">
            The doctor provided an excellent experience. The care and understanding shown during the visit were remarkable. Professionalism and expertise are highly commendable, making it a top choice for medical care
          </p>
      </div>
      <div class="box">
          <img src="{% static 'images/person3.png' %}" alt="">
          <h3>Manan Jain</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <p class="text">
            Exceptional care received—knowledgeable and kind, the approach was comforting. Attentive listening and thorough guidance. A professional service that instilled confidence. Highly recommended for exceptional medical assistance.
          </p>
      </div>
  </div>
</section>

<section class="blog" id="blog">
  <h1 class="heading"> online <span>blogs</span></h1>
  <div class="box-container">
      <div class="box">
          <div class="image">
              <img src="{% static 'images/blog1.jpg' %}" alt="">
          </div>
          <div class="content">
              <div class="icon">
                  <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><i class="fas fa-calendar"></i> 1st May, 2023</a>
                  <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><i class="fas fa-user"></i> By Admin</a>
              </div>
              <h3> Diabetes And Weight Loss</a></h3>
              <p>
                Discover insightful content about weight loss and effective diabetes management. Expert advice, exercise routines, and lifestyle tips await you in our blog, tailored to aid you in achieving your health and fitness goals.</p>
              <a href="https://www.diabetes.org.uk/guide-to-diabetes/enjoy-food/eating-with-diabetes/whats-your-healthy-weight/lose-weight#:~:text=Weight%20is%20a%20sensitive%20issue,like%20heart%20disease%20and%20stroke." class="btn" target="_blank"> Learn more <span class="fas fa-chevron-right"></span></a>
          </div>
      </div>
      <div class="box">
          <div class="image">
              <img src="{% static 'images/blog2.png' %}" alt="">
          </div>
          <div class="content">
              <div class="icon">
                <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><i class="fas fa-calendar"></i> 1st May, 2023</a>
                <a href="" target="_blank"><i class="fas fa-user"></i> By Admin</a>
              </div>
              <h3>How Clean Is Your House?</h3>
              <p>
                Explore insightful guidance on maintaining a spotless living environment within the blog. Discover tips on efficient decluttering, cleaning strategies, proper sanitation, ensuring healthier & organized, welcoming home atmosphere.</p>
              <a href="https://www.webmd.com/balance/features/cleaning-tips" class="btn" target="_blank"> Learn more <span class="fas fa-chevron-right"></span></a>
          </div>
      </div>
      <div class="box">
          <div class="image">
              <img src="{% static 'images/blog3.png' %}" alt="">
          </div>
          <div class="content">
              <div class="icon">
                <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><i class="fas fa-calendar"></i> 1st May, 2023</a>
                <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><i class="fas fa-user"></i> By Admin</a>
              </div>
              <h3>The Pillars of Vibrant Health</h3>
              <p>How important it is to tend to the needs of our body and mind, highlighting 6 essential ways to do this, also known as the “pillars” of vibrant health: diet, exercise, sleep, breath, cleansing practices, and mindfulness?</p>
              <a href="https://himalayaninstitute.org/online/series/pillars-of-health/?gad=1" class="btn" target="_blank"> Learn more <span class="fas fa-chevron-right"></span></a>
          </div>
      </div>
  </div>
</section>

<section class="location">

  <h1 class="heading">
      our <span>location</span> 
  </h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15135.470479577949!2d74.0224807!3d18.4896546!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2e962952e9f33%3A0x981154a5a58c7c16!2sVishwaRaj%20Hospital!5e0!3m2!1sen!2sin!4v1698339063300!5m2!1sen!2sin" width="1160.324" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<section class="contact" id="contact">
  <div class="heading">
      <span>Contact</span> US
  </div>
  <div class="row">
      <div class="image">
          <img src="{% static "images/Contact us-rafiki.svg" %}" alt="">
      </div>
      <form role="form" name="ajax-form" id="ajax-form" method="post" action="{% url 'home' %}">
        {% csrf_token %}
          <div class="inputBox">
              <input type="text" placeholder="Name" required >
          </div>
          <div class="inputBox">
              <input type="email" placeholder="Email" required autocapitalize="none">
          </div>
          <div class="inputBox">
              <textarea name="" placeholder="Query" id="" cols="30" rows="10" required autocapitalize="none"></textarea>
          </div>
          <input type="submit" value="Send Message" class="btn">
          
      </form>
  </div>
</section>
<section class="footer">
  <div class="box-container">
      <div class="box">
          <h3>quick links</h3>
          <a href="#book"> <i class="fas fa-chevron-right"></i> Book </a>
          <a href="#services"> <i class="fas fa-chevron-right"></i> Services </a>
          <a href="#about"> <i class="fas fa-chevron-right"></i> About </a>
          <a href="#review"> <i class="fas fa-chevron-right"></i> Review </a>
          <a href="#blog"> <i class="fas fa-chevron-right"></i> Blogs </a>
          <a href="#contact"> <i class="fas fa-chevron-right"></i>Contact </a>
      </div>
      <div class="box">
          <h3>our services</h3>
          <a href="#"> <i class="fas fa-chevron-right"></i> Free Checkups </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> 24/7 Ambulance </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Expert service </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Medicines </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Bed Facility </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Total Care </a>
      </div>
      <div class="box">
          <h3>Contact information</h3>
          <a href="#"> <i class="fas fa-phone"></i> +91-7385444190 </a>
          <a href="#"> <i class="fas fa-phone"></i> +91-7385444190 </a>
          <a href="#"> <i class="fas fa-envelope"></i> <span id="email">adityapatil1308@gmail.com</span></a>
          <a href="#"> <i class="fas fa-envelope"></i> <span id="email">adityapatil1308@gmail.com</span></a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> Pune, India - 411013 </a>
      </div>
      <div class="box">
          <h3>Our socials</h3>
          <a href="#"> <i class="fa-brands fa-facebook"></i> Facebook </a>
          <a href="#"> <i class="fa-brands fa-x-twitter"></i> Twitter </a>
          <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram </a>
          <a href="#"> <i class="fa-brands fa-linkedin"></i> Linkedin </a>
          <a href="#"> <i class="fa-brands fa-pinterest"></i> Pinterest </a>
      </div>
  </div>
  <div class="credit"> Created by <span>Group 10 SY-4 </span>   | All Rights Reserved |</div>
</section>


{% endblock content %}